{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<script>
    document.documentElement.setAttribute("dir", "rtl");
    document.documentElement.setAttribute("lang", "ar");
</script>

<div class="container">

    <!-- Logo -->
    <img src="{% static 'main/images/google-logo.png' %}" class="logo">


    <!-- Search -->
    <form action="https://www.google.com/search" method="GET">

        <div class="search-container">

            <span class="material-symbols-outlined search-icon">
                search
            </span>

            <input type="text" name="q" class="search-box">

            <img src="{% static 'main/images/camera.png' %}" class="icon camera">
            <img src="{% static 'main/images/mircophone.png' %}" class="icon mic">

        </div>

        <!-- Buttons -->
        <div class="buttons">
            <button type="submit" class="btn">بحث Google</button>
            <button type="button" class="btn">ضربة حظ</button>
        </div>

        <!-- Language -->
        <p class="language">
            Google متوفر باللغة:
            <a href="{% url 'main:home' %}">English</a>
        </p>

    </form>

</div>

{% endblock %}