{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<!-- Container -->
<div class="terms-container">

    <!-- Image -->
    <img src="{% static 'main/images/tos_main_illustration.svg' %}" class="terms-image">


    <!-- Title -->
    <h1>Google Terms of Service</h1>


    <!-- Meta -->
    <p class="meta">
        Effective 5 January 2022 |
        <a href="#">Archived versions</a> |
        <a href="#">Download PDF</a>
    </p>


    <!-- Country -->
    <p class="country">
        Country version: <span>Saudi Arabia</span>
    </p>


    <!-- Section -->
    <h3>What’s covered in these terms</h3>
    <p>
        We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use Google services, and what we expect from you.
    </p>


    <!-- Section -->
    <h3>Using our services</h3>
    <p>
        You must follow any policies made available to you within the services. Don’t misuse our services. For example, don’t interfere with our services or try to access them using a method other than the interface and the instructions that we provide.
    </p>


    <!-- Section -->
    <h3>Your content in our services</h3>
    <p>
        Some of our services allow you to upload, submit, store, send or receive content. You retain ownership of any intellectual property rights that you hold in that content.
    </p>


    <!-- Section -->
    <h3>Modifying and terminating our services</h3>
    <p>
        We are constantly changing and improving our services. We may add or remove functionalities or features, and we may suspend or stop a service altogether.
    </p>

</div>
<!-- End Container -->

{% endblock %}